body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    flex-direction: column;
}

.cards {
    display: flex;
    gap: 20px;
}

.card1 {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 300px;
}

.card2 {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 300px;
}

.card3 {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 300px;
}

.card4 {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 300px;
}

.card1 i {
    color: red;
    font-size: 50px;
    padding: 3px 0px 3px 0px;
}

.card2 i {
    color: rgb(22, 109, 67);
    font-size: 50px;
    padding: 3px 0px 3px 0px;
}

.card3 i {
    color: rgb(0, 4, 34);
    font-size: 50px;
    padding: 3px 0px 3px 0px;
}

.card4 i {
    color: rgb(255, 89, 0);
    font-size: 50px;
    padding: 3px 0px 3px 0px;
}

.card1 button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: white;
    color: red;
    border-radius: 5px;
}

.card2 button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: white;
    color: rgb(22, 109, 67);
    border-radius: 5px;
}

.card3 button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: white;
    color: rgb(0, 4, 34);
    border-radius: 5px;
}

.card4 button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: white;
    color: rgb(255, 89, 0);
    border-radius: 5px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.popup-content img {
    width: 100%;
    border-radius: 10px;
}